.city-list {
    $self: &;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__city-box {
        flex-basis: 18%;
        height: 450px;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        margin-top: 50px;
        font-size: 22px;
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: box-shadow .6s;

        @media (max-width: 960px) {
            flex-basis: 45%;
        }

        @media (max-width: 540px) {
            flex-basis: 100%;
        }

        &:hover {
            box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
            #{$self}__weather-info {
                background-color: rgba(156,55,55, 0.8);
            }
        }
    }

    &__weather-info {
        background-color: rgba(58,115,165,0.5);
        width: 100%;
        padding: 20px 10px;
        transition: background-color .6s;
    }

    &__city-name {
        float: left;
    }

    &__weather-icon {
        float: right;
    }
}